* {
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: "Source Han Sans SC", "Noto Sans CJK SC", "HanHei SC", "方正兰亭黑_GB18030", "方正兰亭黑_GBK", -apple-system, BlinkMacSystemFont, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
}
a {
  color: var(--link-color);
  text-decoration: none;
  transition: all 0.3s;
  transition: none;
}
a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
}
.title {
  color: var(--title-text-color);
}
body {
  background-color: var(--page-bg-color);
}
[r=btn-hover]::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: all 0.3s;
}
[r=btn-hover]:hover::after {
  opacity: 0.3;
}
html .context {
  color: #999999;
}
html[theme=dark] .mask-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--box-bg-color);
  opacity: 0.5;
}
html[theme=dark] .context {
  color: var(--context-text-color);
}
@keyframes navshowin {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.fixed-top {
  animation: navshowin 0.5s;
}
.nav-placeholder {
  height: 56px;
}
.navbar {
  z-index: 999;
  padding: 8px 16px;
  background-color: transparent;
}
.navbar .navbar-brand {
  color: var(--title-text-color);
  font-weight: 400;
}
.navbar .nav-item {
  position: relative;
}
.navbar .nav-item .nav-link {
  position: relative;
  padding: 8px 21px;
}
@media (min-width: 992px) {
  .navbar .nav-item .nav-link::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: all 0.3s;
  }
  .navbar .nav-item .nav-link:hover::after {
    width: 100%;
  }
}
.navbar .form-inline .search-input {
  height: 34px;
  margin-right: 0 !important;
  border-radius: 1rem 0 0 1rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--context-text-color);
  background-color: var(--box-bg-color);
  background-clip: padding-box;
  border: none;
  cursor: auto;
  border: 1px solid transparent;
  border-right: none;
}
.navbar .form-inline .search-input:focus {
  border: 1px solid var(--main-color);
  border-right: none;
}
.navbar .form-inline .search-input:focus + .btn-search {
  border: 1px solid var(--main-color);
  border-left: none;
}
.navbar .form-inline .btn-search {
  height: 34px;
  margin-right: 0 !important;
  border-radius: 0 1rem 1rem 0;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--context-text-color);
  background-color: var(--box-bg-color);
  background-clip: padding-box;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  border-left: none;
}
.navbar .form-inline .btn-search:hover::after {
  opacity: 0.3;
}
.navbar .theme-change {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 15px;
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 992px) {
  .navbar .theme-change {
    margin-bottom: 60px;
  }
}
.navbar .theme-change ul {
  margin-bottom: 0;
}
.navbar .theme-change ul i {
  margin-right: 20px;
  font-size: 30px;
  color: var(--context-text-color);
}
.navbar .theme-change ul i:first-child {
  font-size: 32px;
}
.navbar-toggler {
  color: var(--main-color);
  border-color: var(--main-color);
  user-select: none;
}
.navbar-toggler .navbar-toggler-icon::before {
  width: 100%;
  height: 100%;
  line-height: 30px;
}
.pagination-container {
  display: flex;
  padding: 32px 16px;
  justify-content: space-evenly;
}
.pagination-container a {
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: var(--box-bg-color);
  color: var(--title-text-color);
  font-weight: 600;
  transition: all 0.3s;
}
.pagination-container a:hover {
  text-decoration: none;
  border: 1px solid var(--main-color);
  transform: translateY(-2px);
}
.card {
  position: relative;
  overflow: hidden;
  background-color: var(--box-color);
  border-radius: 1.25rem;
  border: none;
}
.card .badge {
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  background-color: var(--main-color);
  color: var(--box-bg-color);
  z-index: 10;
  user-select: none;
}
.card .card-img-top {
  position: relative;
  overflow: hidden;
  padding: 0.55rem;
  padding-bottom: 0;
  border-radius: 1.45rem;
}
.card .role {
  padding-top: 1rem;
}
.card .card-body:hover .card-title {
  border-bottom: 2px dotted var(--main-color);
}
.card .card-body .card-title {
  display: inline-block;
  border-bottom: 1px dotted transparent;
}
.card .card-body a {
  text-decoration: none;
}
.card .card-body .card-tag {
  float: left;
  margin-right: 13px;
  padding: 3px 15px;
  background-color: var(--page-bg-color);
  border: 1px solid transparent;
  border-radius: 20px 20px 20px 20px;
  transition: all 0.3s;
}
.card .card-body .card-tag:hover {
  background-color: transparent;
  border: 1px solid var(--main-color);
}
.card .card-body .date {
  float: right;
  padding: 3px 0px;
}
.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 13px -7px var(--main-color);
}
.card:hover img {
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 2px 15px -8px var(--main-color);
}
.card:hover .role {
  padding-top: 0.5rem;
}
.post-title,
.post-content,
.toc-container {
  padding: 25px 35px;
  background-color: var(--box-bg-color);
  border-radius: 1.45rem;
}
.post-title {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.post-info {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post-info span,
.post-info a {
  display: inline-block;
  margin: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
}
.post-info span {
  color: var(--title-text-color);
}
.post-info a {
  color: var(--link-color);
}
.post-info a:hover {
  color: var(--link-color-hover);
}
.post-feature-image {
  width: 100%;
  border-radius: 1.45rem;
}
.post-detail {
  margin-top: 8px;
}
.post-detail h1,
.post-detail h2,
.post-detail h3 {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 12px;
  font-weight: 700;
}
.post-detail .toc-container {
  position: sticky;
  top: 70px;
}
.post-detail .toc-container li {
  margin-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.post-detail .toc-container li a:not(.current) {
  display: block;
  transition: all 0.3s;
}
.post-detail .toc-container li a:not(.current):hover {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--main-color);
  font-size: 16px;
  color: var(--main-color);
}
.post-detail .toc-container .current {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--main-color);
  font-size: 16px;
  color: #fff;
}
.post-detail .toc-container .toc-parent {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--main-color);
  font-size: 16px;
  color: #fff;
}
.post-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2.5rem;
  margin-bottom: 4.5rem;
}
.post-footer .prev-post,
.post-footer .next-post {
  display: block;
}
.post-footer .prev-post title,
.post-footer .next-post title {
  font-size: 16px;
  font-weight: bolder;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
html {
  --pre-code: #f4ecec;
}
html .post-content figure[data-type=image]::after {
  display: none;
}
html[theme=dark] {
  --pre-code: #1b1818;
}
html[theme=dark] .post-content figure[data-type=image]::after {
  display: block;
}
.post-content {
  width: 100%;
  flex-shrink: 0;
  color: var(--context-text-color);
}
.post-content a {
  word-wrap: break-word;
  text-decoration: none;
  border-bottom: 1px dotted var(--page-bg-color);
}
.post-content a:hover {
  border-bottom: 1px dotted var(--main-color);
}
.post-content img {
  position: relative;
  display: block;
  max-width: 100%;
}
.post-content figure[data-type=image] {
  position: relative;
  overflow: hidden;
  border-radius: 1.45rem;
  margin: 24px auto;
}
.post-content figure[data-type=image]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.post-content p {
  line-height: 1.62;
  margin-bottom: 1.12em;
  letter-spacing: 0.05em;
  hyphens: auto;
  margin: 20px 0;
  font-size: 16px;
  line-height: 26px;
}
.post-content p:first-child {
  border-bottom: 2px solid var(--page-bg-color);
}
.post-content p code,
.post-content li code {
  line-height: initial;
  word-wrap: break-word;
  border-radius: 0;
  background-color: var(--pre-code);
  color: #b45a3c;
  padding: 0.2em 0.33333333em;
  margin-left: 0.125em;
  margin-right: 0.125em;
  border-radius: 0.25rem;
}
.post-content pre {
  margin-bottom: 1.5rem;
  padding: 0;
  position: relative;
}
.post-content pre code {
  font-size: 1rem;
  padding: 1em;
  border-radius: 1rem;
  line-height: 1.5;
}
.post-content blockquote {
  color: var(--page-bg-color);
  position: relative;
  padding: 0.4em 0 0 2.2em;
  font-size: 0.96em;
}
.post-content blockquote p {
  color: var(--context-text-color);
}
.post-content blockquote:before {
  position: absolute;
  top: -4px;
  left: 0;
  content: "\201c";
  font: 700 62px/1 serif;
  color: var(--page-bg-color);
}
.post-content table {
  padding: 0;
  word-break: initial;
}
.post-content table tr {
  border: 1px solid var(--page-bg-color);
  margin: 0;
  padding: 0;
}
.post-content table tr:nth-child(2n),
.post-content thead {
  background-color: var(--page-bg-color);
}
.post-content table th {
  font-weight: bold;
  border: 1px solid var(--page-bg-color);
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
  color: var(--title-text-color);
}
.post-content table td {
  border: 1px solid var(--page-bg-color);
  margin: 0;
  padding: 6px 13px;
  color: var(--context-text-color);
}
.post-content table th:first-child,
.post-content table td:first-child {
  margin-top: 0;
}
.post-content table th:last-child,
.post-content table td:last-child {
  margin-bottom: 0;
}
.post-content ul,
.post-content ol {
  padding-left: 35px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.post-content strong {
  font-weight: bolder;
}
.post-content em {
  font-style: italic;
}
.post-content ol li {
  list-style: decimal;
}
.post-content ul {
  list-style-type: square;
}
.post-content ul li {
  list-style: disc;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 16px 0;
  font-weight: 700;
  padding-top: 16px;
  color: var(--title-text-color);
}
.post-content h1 {
  font-size: 2.25em;
  line-height: 1.2;
}
.post-content h2 {
  font-size: 1.75em;
  line-height: 1.225;
}
.post-content h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
.post-content h4 {
  font-size: 1.25em;
}
.post-content h5 {
  font-size: 1em;
}
.post-content h6 {
  font-size: 1em;
  color: var(--context-text-color);
}
.post-content hr {
  position: relative;
}
.post-content hr::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  padding: 0;
  margin: 16px 0;
  background-color: var(--page-bg-color);
  border: 0 none;
  overflow: hidden;
  box-sizing: content-box;
}
.post-content mark {
  background: #faf089;
  color: #744210;
  padding: 0.2em;
}
.post-content .footnotes {
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
  padding-left: 18px;
  padding-right: 18px;
}
.post-content .footnotes:before {
  content: "";
  display: block;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  max-width: 100px;
  margin: 40px 0 20px;
}
.post-content .contains-task-list {
  list-style-type: none;
  padding-left: 30px;
}
.post-content .task-list-item {
  position: relative;
}
.post-content .task-list-item-checkbox {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  margin: 4px 0 0;
  top: -1px;
  left: -22px;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: all 0.2s ease;
}
.post-content .task-list-item-checkbox:checked {
  transform: rotate(0);
}
.post-content .task-list-item-checkbox:checked:before {
  border: transparent;
  background-color: #51cf66;
}
.post-content .task-list-item-checkbox:checked:after {
  transform: rotate(-45deg) scale(1);
}
.post-content .task-list-item-checkbox:checked + .task-list-item-label {
  color: #a0a0a0;
  text-decoration: line-through;
}
.post-content .task-list-item-checkbox:before {
  content: "";
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #9ae6b4;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
}
.post-content .task-list-item-checkbox:after {
  content: "";
  transform: rotate(-45deg) scale(0);
  width: 9px;
  height: 5px;
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  position: absolute;
  display: inline-block;
  top: 4px;
  left: 4px;
  transition: all 0.2s ease;
}
.card-friends {
  margin-bottom: 5rem;
}
.card-friends .card-columns {
  column-count: 1;
}
@media (min-width: 576px) {
  .card-friends .card-columns {
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .card-friends .card-columns {
    column-count: 4;
  }
}
.card-friends .card {
  position: relative;
  background-color: var(--box-bg-color);
  transition: all 0.3s;
}
.card-friends .left {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 35%;
  text-align: center;
}
.card-friends .left img {
  width: 70px;
  border-radius: 5rem;
}
.card-friends p,
.card-friends footer {
  width: 60%;
  float: right;
  text-align: right;
}
.card-friends footer {
  font-size: 14px;
}
.no-friend {
  width: 100%;
  margin-bottom: 5rem;
  text-align: center;
}
.jumbotron {
  overflow: hidden;
  position: relative;
  margin-top: -60px;
  padding: 10rem 2rem;
  padding-bottom: 8rem;
  border-radius: 0 0 0 13rem;
  background-color: var(--page-bg-color);
}
@media (max-width: 992px) {
  .jumbotron {
    border-radius: 0 0 0 7rem;
    padding: 8rem 2rem;
    padding-bottom: 4rem;
  }
}
.jumbotron .background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.jumbotron .avatar {
  overflow: hidden;
  position: relative;
  width: 12.5rem;
  height: 12.5rem;
  background-size: cover;
  border-radius: 1.25rem;
}
@media (max-width: 768px) {
  .jumbotron .avatar {
    width: 9.25rem;
    height: 9.25rem;
  }
}
.jumbotron .title {
  margin-bottom: 1rem;
  font-weight: 400;
}
.jumbotron .context {
  margin-bottom: 2.5rem;
}
.jumbotron #about-me {
  overflow: hidden;
  position: relative;
  background-color: var(--main-color);
  border: none;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
.tags-container .tag {
  float: left;
  margin: 8px;
  padding: 5px 25px;
  border-radius: 1.45rem;
  background-color: var(--box-bg-color);
  color: var(--title-text-color);
  border: 1px solid transparent;
  transition: all 0.3s;
}
.tags-container .tag:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
.current-tag-container .title {
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 24px;
}
.site-footer {
  background-color: var(--box-bg-color);
  padding: 35px 55px;
}
.detial {
  display: flex;
  color: var(--context-text-color);
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-direction: column;
  height: 100%;
}
.detial ul li {
  float: left;
}
.detial ul li:nth-child(2n) {
  margin: 0 5px;
}
.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  .about-me {
    margin-top: 2rem;
  }
}
.about-me .avator {
  position: relative;
  z-index: 3;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 0.75rem;
}
.about-me .social-link {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0px 25px;
  border-radius: 20px;
  background-color: var(--page-bg-color);
}
.about-me .social-link a {
  display: inline-block;
  padding: 5px 5px;
  background-color: transparent;
  transition: all 0.3s;
}
.about-me .social-link a:hover {
  background-color: var(--box-bg-color);
}
.about-me .social-link a:not(:first-child) {
  margin-left: 5px;
}
.about-me .social-link a i {
  font-size: 21px;
}
html[theme=dark] {
  /* Base16 Atelier Plateau Dark - Theme */
  /* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/plateau) */
  /* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
  /* Atelier-Plateau Comment */
  /* Atelier-Plateau Red */
  /* Atelier-Plateau Orange */
  /* Atelier-Plateau Green */
  /* Atelier-Plateau Blue */
  /* Atelier-Plateau Purple */
}
html[theme=dark] .hljs-comment,
html[theme=dark] .hljs-quote {
  color: #7e7777;
}
html[theme=dark] .hljs-variable,
html[theme=dark] .hljs-template-variable,
html[theme=dark] .hljs-attribute,
html[theme=dark] .hljs-tag,
html[theme=dark] .hljs-name,
html[theme=dark] .hljs-regexp,
html[theme=dark] .hljs-link,
html[theme=dark] .hljs-name,
html[theme=dark] .hljs-selector-id,
html[theme=dark] .hljs-selector-class {
  color: #ca4949;
}
html[theme=dark] .hljs-number,
html[theme=dark] .hljs-meta,
html[theme=dark] .hljs-built_in,
html[theme=dark] .hljs-builtin-name,
html[theme=dark] .hljs-literal,
html[theme=dark] .hljs-type,
html[theme=dark] .hljs-params {
  color: #b45a3c;
}
html[theme=dark] .hljs-string,
html[theme=dark] .hljs-symbol,
html[theme=dark] .hljs-bullet {
  color: #4b8b8b;
}
html[theme=dark] .hljs-title,
html[theme=dark] .hljs-section {
  color: #7272ca;
}
html[theme=dark] .hljs-keyword,
html[theme=dark] .hljs-selector-tag {
  color: #8464c4;
}
html[theme=dark] .hljs-deletion,
html[theme=dark] .hljs-addition {
  color: #1b1818;
  display: inline-block;
  width: 100%;
}
html[theme=dark] .hljs-deletion {
  background-color: #ca4949;
}
html[theme=dark] .hljs-addition {
  background-color: #4b8b8b;
}
html[theme=dark] .hljs {
  display: block;
  overflow-x: auto;
  background: #1b1818;
  color: #8a8585;
  padding: 0.5em;
}
html[theme=dark] .hljs-emphasis {
  font-style: italic;
}
html[theme=dark] .hljs-strong {
  font-weight: bold;
}
html {
  /* Base16 Atelier Plateau Light - Theme */
  /* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/plateau) */
  /* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
  /* Atelier-Plateau Comment */
  /* Atelier-Plateau Red */
  /* Atelier-Plateau Orange */
  /* Atelier-Plateau Green */
  /* Atelier-Plateau Blue */
  /* Atelier-Plateau Purple */
}
html .hljs-comment,
html .hljs-quote {
  color: #655d5d;
}
html .hljs-variable,
html .hljs-template-variable,
html .hljs-attribute,
html .hljs-tag,
html .hljs-name,
html .hljs-regexp,
html .hljs-link,
html .hljs-name,
html .hljs-selector-id,
html .hljs-selector-class {
  color: #ca4949;
}
html .hljs-number,
html .hljs-meta,
html .hljs-built_in,
html .hljs-builtin-name,
html .hljs-literal,
html .hljs-type,
html .hljs-params {
  color: #b45a3c;
}
html .hljs-string,
html .hljs-symbol,
html .hljs-bullet {
  color: #4b8b8b;
}
html .hljs-title,
html .hljs-section {
  color: #7272ca;
}
html .hljs-keyword,
html .hljs-selector-tag {
  color: #8464c4;
}
html .hljs-deletion,
html .hljs-addition {
  color: #1b1818;
  display: inline-block;
  width: 100%;
}
html .hljs-deletion {
  background-color: #ca4949;
}
html .hljs-addition {
  background-color: #4b8b8b;
}
html .hljs {
  display: block;
  overflow-x: auto;
  background: #f4ecec;
  color: #585050;
  padding: 0.5em;
}
html .hljs-emphasis {
  font-style: italic;
}
html .hljs-strong {
  font-weight: bold;
}
.archives-inner {
  padding: 25px 35px;
  border-radius: 1.45rem;
  margin-bottom: 5rem;
  background-color: var(--box-bg-color);
}
.archives-inner .year {
  display: block;
  margin: 0px 0px 16px;
  padding: 12px 24px;
  border-bottom: 1px solid var(--page-bg-color);
  font-size: 16px;
  color: #999;
  font-weight: bolder;
}
.archives-inner .post-list {
  display: flex;
  flex-wrap: wrap;
}
.archives-inner .post-list .post {
  width: 50%;
  padding: 16px 24px;
  margin-bottom: 5px;
}
.archives-inner .post-list .post:hover .archives-title::after {
  width: 100%;
}
.archives-inner .post-list .post .archives-title {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.archives-inner .post-list .post .archives-title::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 4px solid var(--main-color);
  transition: all 0.3s;
}
.archives-inner .post-list .post .time {
  font-size: 12px;
  color: #999;
}

    *{
        font-family: 'Noto Sans SC', sans-serif;
    }
    
    html {
      --box-bg-color:#FFFFFF;
      --page-bg-color:#F1F1F1;
      --title-text-color:#222222;
      --context-text-color:#333333;
      --link-color:#999;
      --link-color-hover:#177CB0;

      --main-color:#177CB0
  }
  
    html[theme='dark'] {      
      --box-bg-color:#1E1E1E;
      --page-bg-color:#121212;
      --title-text-color:#D3CFC9;
      --context-text-color:#949494;
      --link-color:#868e96;
      --link-color-hover:#9E41C6;

      --main-color:#9E41C6
  }
  